---
layout: kunalo
title: Index
---

<div id="home" class="row">
      <h2>Posts</h2>

</div>

<div class="row">
  <div class="col-md-8">
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        &raquo; <a href="{{ post.url }}">{{ post.title }}</a> 

	<div style ="margin-left: 4em;" >
	  <p style = "font-size:11px;">
	    <span>{{ post.date | date_to_string }}</span>
	   </p>
	  

	      <article style = "font-size:11px;">
	      {{post.excerpt }} 
	      </article>
	      <br />
	  
	</div>
      </li>
    {% endfor %}
  </ul>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <ul>
      {% assign tags_list = site.tags %}
      {% include JB/tags_list %}
    </ul>
  </div>
</div>
