---
layout: kunalo
---

<div class="row">

  <div class="col-md-8">
    <div class="post">
    <h2>{{ page.title }}</h2>
    <p class="meta">
      by: <span class="author">{{ page.author }}</span>
      posted: <span class="date">{{ page.date | date_to_string }}</span>
     </p>
      {{ content }}

        <div class="page-nav">
          {% if page.previous %}
          <a href="{{ page.previous.url }}">previous</a>
          {% endif %}

          {% if page.next %}
          <a href="{{ page.next.url }}">next</a>
          {% endif %}

        </div>

    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
